<div class="row-fluid">
  <ul class='span2 nav nav-stacked nav-pills '>
    <% 3.times do %>
      <li><a href="http://example.com" class='ptm pbm'>#channel</a></li>
    <% end %>
  </ul>

  <ul id="chat" class="span10">
    <!--<%# 10.times do; @messages.each do |message| %>
      <li class='row-fluid mbm'>
        <div class='info span1'>
          <span class='avatar'><img src='http://placehold.it/64.png'></span>
          <span class='sender'><%#= message[:sender] %></span>
        </div>
        <div class='body span11 pam'><%#= message[:body] %></div>
      </li>
    <%# end; end %>

          <li class='row-fluid mbm'>
        <div class='info span1'>
          <span class='avatar'><img src='http://placehold.it/64.png'></span>
          <span class='sender'>drcatmd</span>
        </div>
        <div class='body span11 pam'>I'm <a href="#gay">gayer</a> than <b>you</b>, <i>faggot</i>!</div>
      </li>-->
  </ul>
  <div class='row-fluid'>
    <div class='span2'></div>
    <input id="chat-input" class='span10' type="text">
  </div>
</div>
